<%inherit file="base.htm" />

<%block name="content">
	
	<p><a href="/homepage/users/" id="adminPage">Users</a></p>
      <p><a href="/homepage/events/" id="adminPage">Events</a></p>
      <p><a href="/homepage/product/" id="adminPage">Products</a></p>
      <p><a href="/homepage/saleItem/" id="adminPage">Sales Items</a></p>
      <p><a href="/homepage/items/" id="adminPage">Items</a></p>
      <p><a href="/homepage/historical/" id="adminPage">Historical Figures</a></p>
      <p><a href="/homepage/batchProcess/" id="adminPage">Overdue Items</a></p>
      <p><a href="/homepage/rentals/" id="adminPage">Rentals</a></p>

</%block>