<%inherit file="base.htm" />

<%block name="content">
    ##search Product Items
    <title>Artisan Products</title>
    <h1>Artisan Products</h1>
    <br>
    <div class="text-right">
        Search Products: <input type="search" id="searchProducts">
    </div>
    <%

    %>
    %for Product in Products:
    	<div class="item_container">
    	<a href="/homepage/details/${ Product.id }/">
    	<img class="" src="${STATIC_URL}${Product.image}" />
    	<div class="text-muted text-center productName">${ Product.name }</div>
    	<div class="text-muted text-center">${ Product.currentPrice }</div>
    	</a>

    	</div>
    %endfor
</%block>