<%inherit file="base.htm" />

<%block name="content">
	<p>The Following is a list of Historical Figures represented in the Festival</p>
	<div class="clearfix"></div>
	<div class="text-right">
		<a href="/homepage/historical.create/" class="btn btn-primary">Create a New Historical Figure </a>
	</div>

	<table class="table table-striped table-bordered">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Birth Date</th>
				<th>Birth Place</th>
				<th>Death Date</th>
				<th>Death Place</th>
				<th>Biographical Note</th>
				<th>Fictional?</th>
				<th>Actions</th>
			</tr>
		%for historicalFigure in HistoricalFigures:
			<tr>
				<td>${ historicalFigure.id }</td>
				<td>${ historicalFigure.name }</td>
				<td>${ historicalFigure.birthDate }</td>
				<td>${ historicalFigure.birthPlace }</td>
				<td>${ historicalFigure.deathDate }</td>
				<td>${ historicalFigure.deathPlace }</td>
				<td>${ historicalFigure.biographicalNote }</td>
				<td>${ historicalFigure.isFictional }</td>
				<td><a href="/homepage/historical.edit/${ historicalFigure.id }/" class="btn btn-xs btn-default">Edit </a></td>
			</tr>
		%endfor
	</table>

</%block>