<%inherit file="base.htm" />

<%block name="content">
	
	<div class="clearfix"></div>
	<div class="text-right">
		<a href="/homepage/product.create/" class="btn btn-primary">Create New Product </a>
	</div>

	<table class="table table-striped table-bordered">
			<tr>
				<th>ID</th>
				<th>Product Name</th>
				<th>Description</th>
				<th>Category</th>
				<th>Current Price</th>
				<th>Actions</th>
			</tr>
		%for product in Products:
			<tr>
				<td>${ product.id }</td>
				<td>${ product.name }</td>
				<td>${ product.description }</td>
				<td>${ product.category }</td>
				<td>${ product.currentPrice }</td>
				<td><a href="/homepage/product.edit/${ product.id }/" class="btn btn-xs btn-default">Edit </a></td>
			</tr>
		%endfor
	</table>

</%block>