<%inherit file="base_ajax.htm" />

<%block name="content">
<table class="table table-striped table-bordered">
	<tr>
		<th>Product Name</th>
		<th>Quantity</th>
		<th>Price</th>
		<th>Subtotal</th>
		<th>Action</th>
	</tr>


	<% grand_total = 0%>

	%for product, value in current_cart.items():
		<%
			price = int(value[0].currentPrice)
			qty = value[1]
			sub_total = (price * qty)
			grand_total += sub_total
		%>
		<tr>
			<td>${ value[0].name }</td>
			<td>${ value[1] }</td>
			<td>${ value[0].currentPrice }</td>
			<td>${ sub_total }</td>
			<td><button data-pid="${ value[0].id }" class="deleteCartItem btn btn-danger btn-xs">Remove Cart Item</button></td>
		</tr>
	%endfor
		<tr>
			<td>Total:</td>
			<td></td>
			<td></td>
			<td>${ grand_total }</td>
			<td></td>
		</tr>
</table>

${'Please Login to Check Out' if request.user.username == "" else '<a href="/homepage/shoppingCart.checkout/"><button id="checkoutButton" class="btn btn-primary">Check Out!</button></a>' }




</%block>



